<%= link_to '< WOD一覧', wods_path, class: 'btn btn-secondary my-3' %>
<h1>WOD詳細</h1>
<div>
  <h3>日付</h3>
  <div>
    <%= @wod.date %>
  </div>
  <br>
  <h3>内容</h3>
  <div>
    <%= simple_format(@wod.content) %>
  </div>
</div>